.row-1,
.row-2 {
	box-shadow: black 0px 5px 5px -5px;
}

/* About me CSS block */

.about-me {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
	font-family: 'Short Stack', cursive;
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 80px;
}

.about-me h2 {
	border-bottom: solid black 2px;
	width: 175px;
	margin-bottom: 20px;
}

.about-me__text {
	max-width: 400px;
	padding-bottom: 80px;
}

.about-me__pic {
	width: 220px;
	align-self: flex-end;
	padding-bottom: 80px;
}

.about-me__pic img {
	width: 100%;
	box-shadow: #4b4b4b 0px 5px 10px 0px;
	border-radius: 5px;
}

/* Journey CSS block */

.about-me-2,
.journey {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 80px 0;
	text-align: center;
	font-family: 'Short Stack', cursive;
	font-weight: bold;
	font-size: 1.2rem;
}

.journey-pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 750px;
	margin-bottom: 50px;
	box-shadow: 0px 2px 4px 1px;
}

.journey-pic__thumbtack {
	width: 50px;
	max-width: 5%;
	position: absolute;
	top: 120px;
}

.journey-pic__thumbtack img {
	width: 100%;
}

.journey-pic__map img {
	width: 100%;
}

footer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 60px;
	background-color: black;
	box-shadow: black 0px 0px 3px 3px;
}
