/* Work section CSS block */

.work {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	font-size: 1.2rem;
	margin-top: 80px;
	padding-bottom: 10px;
}

.work-list {
	width: 32%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 50px;
	max-width: 380px;
	border-right: solid rgba(0, 0, 0, 0.2) 1px;
}

.work-list h2 {
	padding-bottom: 5px;
	margin-bottom: 20px;
}

/* h2 with anchor tag will display link indicator image */

h2 a[href*='http'] {
	background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 50%;
	background-size: 16px 16px;
	padding: 0 20px;
}

.work-list ul {
	text-align: center;
	list-style: none;
	align-self: flex-end;
}

.work-list li {
	margin: 8px 0;
	width: 100%;
}

.work-list li a {
	display: inline-block;
	padding: 5px;
	width: 100%;
	margin-right: 8px;
	color: black;
	text-decoration: none;
	background-color: #d3d3d3;
	box-shadow: #afafaf 0px 0px 2px 1px;
}

.work-list li a:hover {
	background-color: #a7a7a7;
}

.work-list li a.active {
	background-color: #a7a7a7;
}

/* Phone iframe */

#work-iframe-wrapper {
	text-align: center;
	width: 32%;
}

#work-iframe-wrapper h2 {
	text-decoration: underline;
	font-weight: bold;
}

.work-iframe {
	max-width: 700px;
	border: 40px solid #292929;
	border-width: 20px 14px;
	border-radius: 10px;
	margin: 23.5px auto;
	overflow: hidden;
	transition: all 0.5s ease;
	box-shadow: 0px 3px 0 #555555, 0px 4px 0 #555555, 0px 5px 0 #555555, 0px 7px 0 #555555, 0px 10px 20px #666;
}

.work-iframe img {
	border: 0;
	width: 100%;
	height: 100%;
}

/* About work CSS block */

.work-about {
	width: 32%;
	height: 200px;
	max-width: 380px;
	text-align: center;
	padding-left: 30px;
	border-left: solid rgba(0, 0, 0, 0.2) 1px;
}

.work-more-about {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	border: solid black;
	border-width: 2px 0 2px 0;
	margin-bottom: 40px;
}

.work-more-about a {
	color: black;
	text-decoration: none;
	font-size: 1.6rem;
}

.work-more-about img {
	width: 30px;
}

.work-more,
.work-more__methods {
	text-align: center;
	margin: 40px 0;
}

.work-more h2 {
	text-decoration: underline;
}

.work-more__methods h2 {
	text-decoration: underline;
	margin-bottom: 20px;
}

.work-more__methods h3 {
	margin-bottom: 20px;
}

.work-more__methods-text {
	margin-bottom: 80px;
}

/* Coding language logo CSS block */

.code-logos {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.code-logos__logo {
	width: 180px;
}

.code-logos__logo svg {
	width: 90%;
	margin: 10px;
}

/* Media queries */

@media (max-width: 1430px) {
	.work {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.work-list ul {
		padding: 0;
		align-self: center;
	}

	.work,
	.work-list,
	.work-about,
	#work-iframe-wrapper {
		width: 100%;
		height: auto;
		padding: 0;
		border: 0;
	}
}

@media (max-width: 900px) {
	#work-iframe-wrapper {
		transform: scale(0.8, 0.8);
	}
}

@media (max-width: 390px) {
	#work-iframe-wrapper {
		transform: scale(0.7, 0.7);
	}
}
